.dashboard-productos {

    padding: 20px;

}

.categoria-bloque {

    margin-bottom: 40px;

}

.categoria-bloque h2 {

    margin-bottom: 20px;

}

.grid-productos {

    display: grid;

    grid-template-columns:
        repeat(
            auto-fill,
            minmax(250px, 1fr)
        );

    gap: 20px;

}